body {
  background-color: rgb(59, 124, 39);
  box-sizing: border-box;
}

.card {
  text-align: center;
  display: inline-block;
  background: white;
  height: 200px;
  width: 250px;
  padding: 20px;
  padding-top: 180px;
  font-size: 80px;
  border-radius: 5px;
  border: 1px solid black;
  position: relative;
  margin-left: 40%;
  margin-top: 10%;
}

.topIcon {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 80px;
}

.bottomIcon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 80px;
}

.colorRed {
  color: red;
}

.colorBlack {
  color: black;
}
